<div class="sidebar">
    <div class="sidebar-logo">
        <a href="#/">
            <img src="img/logo-2x.png">
        </a>
    </div>
    <ul class="server-list">
        <li ng-repeat="server in servers">
            <a href="#/servers/{{ server.id }}" ng-class="getClass('/servers/{{ server.id }}')">{{server.name}}</a>
        </li>
    </ul>
</div>

<div class="content" ui-view>

    <div class="jumbotron">
        <h1>Welcome to Grid Processing</h1>
        <p class="lead">Select a server on the left sidebar.</p>
    </div>

</div>
