<div class="topbar">
    <ul class="topbar-nav">
        <li>
            <a href="#/servers/{{ server.id }}" ng-click="chooseSection('index')" ng-class="getClass('index')">Summary</a>
        </li>
        <li>
            <a href="#/servers/{{ server.id }}/edit" ng-click="chooseSection('edit')" ng-class="getClass('edit')">Update Info</a>
        </li>
        <li>
            <a href="#/servers/{{ server.id }}/logs" ng-click="chooseSection('logs')" ng-class="getClass('logs')">Logs</a>
        </li>
    </ul>
</div>

<div ui-view>
    <h3>Summary content</h3>
</div>
